<ul class="nav nav-fill justify-content-center bg-dark p-2" style="font-size: 20px;">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/tasks">Active</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link active" href="#">Calendar</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/archives">Archives</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>