<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">
  Add Task
</button>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div *ngIf="emptyFields">
            <div class="alert alert-danger" role="alert">
              Fill out all fields
            </div>
          </div>
          <div class="form-group">
            <label for="task">Task: </label>
            <input class="form-control ml-2" type="text" id="task" name="task" ngModel required>
          </div>
          <div class="form-group">
            <label for="description">Description: </label>
            <textarea class="form-control" rows="4" cols="50" id="description" name="description" ngModel required></textarea>
            <!-- <input class="form-control" type="textarea" id="description" ngModel> -->
          </div>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>